/*
    Copyright 2015 Ivan awamper@gmail.com

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License as
    published by the Free Software Foundation; either version 2 of
    the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.
*/

.howdoi-main-box {
    padding: 10px 10px 10px 10px;
    color: #eeeeec;
    background-color: rgba(23, 25, 26, 0.85);
}

.howdoi-background {
    background-color: rgba(0, 0, 0, 0.6);
}

.howdoi-search-entry-icon {
    icon-size: 0.8em;
    color: #8d8f8a;
    padding-left: 5px;
    padding-right: 5px;
    transition-duration: 300ms;
}

.howdoi-search-entry {
    font-size: 30px;
    background-color: rgba(49, 49, 49, 0.8);
}

.howdoi-search-entry:hover .howdoi-search-entry-icon,
.howdoi-search-entry:focus .howdoi-search-entry-icon {
    color: #eeeeec;
    transition-duration: 300ms;
}

.howdoi-control-button {
    color: rgba(255, 255, 255, 0.3);
    icon-size: 30px;
    padding: 7px;
}

.howdoi-control-button:hover {
    color: white;
}

.howdoi-suggestions-dialog {
    background-color: rgba(49, 49, 49, 0.8);
    border: 1px solid rgba(154, 154, 142, 0.5);
}

.howdoi-entry-suggestion-item-box {
    color: white;
}

.howdoi-entry-suggestion-item-box:hover {
    background-color: #215d9c;
    transition-duration: 200ms;
}

.howdoi-entry-suggestion-item-box:selected {
    background-color: #0D4CA3;
    transition-duration: 200ms;
}

.howdoi-entry-suggestion-item-box:inactive {
    color: rgba(255, 255, 255, 0.5);
}

.howdoi-entry-suggestion-item-button {
    font-size: 25px;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.howdoi-answers-view {
    background-color: rgba(255, 255, 255, 0.3);
}

.howdoi-answer-view {
    background-color: rgba(255, 0, 0, 0.5);
}
