/*
    Copyright 2015 Ivan awamper@gmail.com

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License as
    published by the Free Software Foundation; either version 2 of
    the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program. If not, see <http://www.gnu.org/licenses/>.
*/

.howdoi-main-box {
    padding: 10px 10px 10px 10px;
    color: #eeeeec;
    background-color: rgba(23, 25, 26, 0.85);
}

.howdoi-background {
    background-color: rgba(0, 0, 0, 0.6);
}

.howdoi-search-entry-icon {
    icon-size: 0.8em;
    color: #8d8f8a;
    padding-left: 5px;
    padding-right: 5px;
    transition-duration: 300ms;
}

.howdoi-search-entry {
    font-size: 30px;
    background-color: rgba(49, 49, 49, 0.8);
}

.howdoi-search-entry:hover .howdoi-search-entry-icon,
.howdoi-search-entry:focus .howdoi-search-entry-icon {
    color: #eeeeec;
    transition-duration: 300ms;
}

.howdoi-control-button {
    color: rgba(255, 255, 255, 0.3);
    icon-size: 30px;
    padding: 7px;
}

.howdoi-control-button:hover {
    color: white;
}

.howdoi-suggestions-dialog {
    background-color: rgba(49, 49, 49, 0.8);
    border: 1px solid rgba(154, 154, 142, 0.5);
}

.howdoi-entry-suggestion-item-box {
    color: white;
}

.howdoi-entry-suggestion-item-box:hover {
    background-color: #215d9c;
    transition-duration: 200ms;
}

.howdoi-entry-suggestion-item-box:selected {
    background-color: #0D4CA3;
    transition-duration: 200ms;
}

.howdoi-entry-suggestion-item-box:inactive {
    color: rgba(255, 255, 255, 0.5);
}

.howdoi-entry-suggestion-item-button {
    font-size: 25px;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
}

.howdoi-answers-view-scroll {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.howdoi-answers-view-box {
    spacing: 50px;
}

.howdoi-answers-view-icon {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgba(255, 255, 255, 0.1);
}

.howdoi-answer-view {
    background-color: rgba(49, 49, 49, 0.8);
    border: 1px solid rgba(154, 154, 142, 0.5);
}

.howdoi-answer-view StScrollView StScrollBar {
    min-width: 12px;
    min-height: 12px;
}

.howdoi-answer-view StScrollBar StBin#trough {
    padding-left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0px;
}

.howdoi-answer-view StScrollBar StBin#vhandle {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #242424;
    border-radius: 0px;
    transition-duration: 300ms;
}

.howdoi-answer-view StScrollBar StBin#hhandle {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #242424;
    border-radius: 0px;
    transition-duration: 300ms;
}

.howdoi-answer-view StScrollBar StBin#hhandle:hover,
.howdoi-answer-view StScrollBar StBin#vhandle:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 300ms;
}

.howdoi-answer-view StScrollBar StBin#hhandle:active,
.howdoi-answer-view StScrollBar StBin#vhandle:active {
    background-color: rgba(255, 255, 255, 0.7);
    transition-duration: 300ms;
}

.howdoi-answer-view-entry {
    box-shadow: none;
    padding: 20px;
    color: white;
    font-size: 20px;
    border: 1px solid transparent;
}

.howdoi-answer-view-entry:focus {
    padding: 20px;
    font-size: 20px;
    box-shadow: none;
    border: 1px solid transparent;
}

.howdoi-next-page-button, .howdoi-prev-page-button {
    color: rgba(255, 255, 255, 0.4);
}

.howdoi-next-page-button:hover, .howdoi-prev-page-button:hover {
    color: white;
}

.howdoi-next-page-button:disabled, .howdoi-prev-page-button:disabled {
    color: rgba(255, 255, 255, 0.1);
}
